.board-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.board {
    border: solid;
    width: fit-content;
    border-width: 1px;
}

.row {
    display: flex;
}

.cell {
    text-align: center;
    width: 100px;
    height: 100px;
}

.promote {
    position: absolute;
}

.buttons {
    display: flex;
    flex-direction: column;
    min-width: 300px;
    margin: 10px;
    gap: 10px
}

.board-view-container {
    display: flex;
    justify-content: space-evenly;
}

.moves-container{
    min-width: 300px;
}

.moves {
    display: grid;
}

.moves-row {
    min-width: 65px;
    
}